.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
#trainfilter{
	width: auto;
	display: inline-block;
}
.delete i{
	cursor: pointer;
	border: 1px solid #ccc;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.edit i{
	cursor: pointer;
	border: 1px solid #ccc;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.listschedule .filter{
	margin-bottom: 15px;
}
.add{
    text-align: right;
}
.title{
    text-align: center;
}
.line{
    clear: both;
    margin-top: 10px;
    border-top: 3px solid #4bff00;
}
.delete i{
    border: 1px solid #ccc;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.edit i{
    border: 1px solid #ccc;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.addtrain{
    text-align: right;
}